body{
    
    height:100%vh; /*view port horizontal*/
    margin:0;
    display:flex;
    justify-content: center;
    font-family:Monospace;
    background-image: url("img/background.gif");
    background-size:cover;
    max-height: 100%;
    max-width:100%;

}



.title{
 margin-top: 50px;
 margin-bottom:80px;
 color:aqua;

 
}



.container{
  backdrop-filter:blur(4px);
  align-items:center ;
  display:flex;
  flex-direction: column;
  max-width: 75%;
}

.input{
    padding:10px;
    width:300px;
    border-style:solid;
    border-color:aqua;
    font-family: monospace;
    background-color: transparent;
    color:white;
    border-width: 3px;
}

    input, ::placeholder{
    color:white;
    
}

.button{
    padding:10px;
    border-style:solid;
    border-color:rgb(217, 0, 255);
    font-family: monospace;
    background-color: transparent;
    color:rgb(217, 0, 255);
}

button, ::placeholder{
font-size:larger;
}

.form-align{
    display:flex;
    align-items: center;
    justify-content: center;

}



.usrNome{   
 display:flex;
 font-size:35px;
 font-weight: bold;
 color: rgb(198, 27, 250);
}


.usrBio{
    padding-top: 10px;
    font-size: 15px;
    font-weight:600;
    color:white;
}

.resultado{
 display:flex;
 align-items: center;
 justify-content: center;

}

.inf-itens{
    display:flex;
    flex-direction: row; 
}



th{
 padding-top:30px;
 font-size: 20px;
 width:300px;
 color:aqua;
 font-weight: 800;
}

td{
   
   align-items: center;
   font-size:25px;
   text-align:center;
   color:aqua;
   font-weight: 700;
}


